body {
  font-family: "Proxima Nova", "Ubiquity Nova", sans-serif;
  background-color: #06061aff;
  color: #fff;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAABYWlDQ1BrQ0dDb2xvclNwYWNlRGlzcGxheVAzAAAokWNgYFJJLCjIYWFgYMjNKykKcndSiIiMUmB/yMAOhLwMYgwKicnFBY4BAT5AJQwwGhV8u8bACKIv64LMOiU1tUm1XsDXYqbw1YuvRJsw1aMArpTU4mQg/QeIU5MLikoYGBhTgGzl8pICELsDyBYpAjoKyJ4DYqdD2BtA7CQI+whYTUiQM5B9A8hWSM5IBJrB+API1klCEk9HYkPtBQFul8zigpzESoUAYwKuJQOUpFaUgGjn/ILKosz0jBIFR2AopSp45iXr6SgYGRiaMzCAwhyi+nMgOCwZxc4gxJrvMzDY7v////9uhJjXfgaGjUCdXDsRYhoWDAyC3AwMJ3YWJBYlgoWYgZgpLY2B4dNyBgbeSAYG4QtAPdHFacZGYHlGHicGBtZ7//9/VmNgYJ/MwPB3wv//vxf9//93MVDzHQaGA3kAFSFl7jXH0fsAAAA4ZVhJZk1NACoAAAAIAAGHaQAEAAAAAQAAABoAAAAAAAKgAgAEAAAAAQAAABigAwAEAAAAAQAAABgAAAAAwf1XlwAAACNJREFUSA3t0IEAAAAMBKFHm7/UTaQQWnXDgAEDBgwYMGDgAXaJAz4RVVHYAAAAAElFTkSuQmCC");
  max-width: 100%;
  height: 90vh;
}
@font-face {
  font-family: "Ubiquity Nova";
  font-style: normal;
  font-weight: 400;
  src: url(./fonts/ubiquity-nova-standard.eot);
  src:
    url(./fonts/ubiquity-nova-standard.eot#iefix) format("embedded-opentype"),
    url(./fonts/ubiquity-nova-standard.woff) format("woff"),
    url(./fonts/ubiquity-nova-standard.ttf) format("truetype");
}

.pl-mil {
  color: #aff5b4;
  background-color: #033a16;
}

.pl-mc {
  color: #ffdfb6;
  background-color: #5a1e02;
}

main {
  display: flex;
  height: 100%;
  #idle-jobs,
  #active-job,
  #completed-jobs {
    border: 1px solid #fff;
  }

  #idle-jobs {
    width: 400px;
    min-width: 400px;

    #idle-jobs__title {
      font-size: 20px;
      margin: 12px;
    }

    .idle-jobs__job {
      cursor: pointer;
      display: flex;
      flex-direction: column;
      width: 90%;
      gap: 6px;
      margin: 12px auto;
      background-color: #000210;
      padding: 12px 0px;
      font-weight: 500;
      transition: 125ms opacity ease-out 62.5ms;
      opacity: 0.66;

      .idle-jobs__job__info {
        font-size: 14px;
        line-height: 1;
      }

      .idle-jobs__job__labels {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        gap: 2px;

        label {
          width: 30%;
          padding: 4px 6px;
          line-height: 1.25;
          margin: 0 4px 0;
          margin-bottom: 0 4px;
          text-align: center;
          background-color: #80808020;
          letter-spacing: 0.5px;
          text-overflow: ellipsis;
          height: 16px;
          overflow: hidden;
          display: inline-block;
          cursor: pointer;
          font-size: 12px;
        }
      }
    }
  }

  #idle-jobs__container:hover {
    .idle-jobs__job:hover {
      opacity: 1;
    }

    .idle-jobs__job:not(:hover) {
      opacity: 0.5;
    }
  }

  #completed-jobs {
    width: 250px;
    min-width: 250px;

    #completed-jobs__title {
      font-size: 20px;
      margin: 12px;
    }

    .completed-jobs__job {
      min-height: 150px;
      margin: 4px 8px;
      border-radius: 4px;
    }

    .dropzone-active {
      border: 1px solid blue;
    }
  }

  .dragover {
    background-color: blue;
  }

  #active-job {
    flex: 1 auto;
    padding: 32px;
    display: flex;
    flex-direction: column;
    #active-job__title,
    #active-job__description {
      max-height: 30px;
    }

    #active-job__title {
      font-size: 24px;
      max-height: 100px;
    }

    #active-job__description {
      font-size: 20px;
      min-height: 250px;
    }

    #active-job__prompt-response {
      flex-grow: 1;
      overflow: scroll;

      div {
        padding: 16px 8px;
      }
    }
    .active-job__prompt-input {
      height: 100px;
      min-height: 100px;

      #active-job__prompt-input__controls {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 12px;

        button {
          max-width: 100px;
          font-size: 18px;
          width: 100px;
          color: inherit;
          background-color: inherit;
          border: 1px solid grey;
          border-radius: 6px;
          padding: 0px 6px;
          cursor: default;
        }

        button:not(:disabled) {
          color: white;
          cursor: pointer;
        }

        input {
          flex-grow: 1;
          color: inherit;
          background-color: inherit;
          border: 1px solid grey;
          border-radius: 6px;
          font-size: 16px;
          height: 60px;
          padding: 0px 6px;
        }

        input:focus {
          outline: none;
        }

        input:not(:disabled) {
          color: white;
        }
      }


      #active-job__prompt-input__prompts {
        display: flex;
        flex-direction: row;
        list-style-type: none;
        padding: 0;
        gap: 24px;

        li > button {
          border: 1px solid grey;
          border-radius: 6px;
          padding: 4px 8px;
          text-align: center;
          cursor: pointer;
          background-color: inherit;
          color: white;
          height: 100%;
          text-wrap: nowrap;
        }
        
      }
    }
    .active-job__prompt-input--disabled {
      opacity: 0.5;

    }
  }
}
